<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CanteenManagmentSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CanteenManagmentSystem.Properties.Settings.CanteenDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CanteenDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CanteenManagmentSystem.Properties.Settings.CanteenDBConnectionString" connectionString="Dsn=SQLite3 Datasource" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <CanteenManagmentSystem.Properties.Settings>
      <setting name="CurrentUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="Administrator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrgName" serializeAs="String">
        <value/>
      </setting>
      <setting name="PrinterPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="dyspassword" serializeAs="String">
        <value>vaud123.</value>
      </setting>
    </CanteenManagmentSystem.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
